<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g1.hospital.mapper.RegistryMapper">
  <resultMap id="BaseResultMap" type="com.g1.hospital.pojo.Registry">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
    <result column="schedule_id" jdbcType="BIGINT" property="scheduleId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="pay_fee" jdbcType="DECIMAL" property="payFee" />
    <result column="medicare_fee" jdbcType="DECIMAL" property="medicareFee" />
    <result column="is_medicare" jdbcType="TINYINT" property="isMedicare" />
    <result column="registry_time" jdbcType="TIMESTAMP" property="registryTime" />
    <result column="consultation_time" jdbcType="TIMESTAMP" property="consultationTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, patient_id, schedule_id, user_id, department_id, room_id, status, fee, pay_fee, 
    medicare_fee, is_medicare, registry_time, consultation_time, created_time, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.g1.hospital.pojo.RegistryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from registry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from registry
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectRegistryByPage"
          parameterType="com.g1.hospital.dto.RegCondition"
          resultType="com.g1.hospital.dto.RegistryDto">
    select
    rg.`id`,
    pa.`id` pId,
    pa.`name` pName,
    pa.`sex` pSex,
    pa.`id_card` pCardId,
    dp.`name` dName,
    su.`user_name` userName,
    rg.`registry_time` regTime,
    rg.`created_time` createTime,
    rg.`status`
    from registry rg
    left join patient pa on rg.`patient_id` = pa.`id`
    left join department dp on rg.`department_id` = dp.`id`
    left join sys_users su on rg.`user_id` = su.`id`
    where 1=1
    <if test="cardId != null and cardId != ''">
      and pa.id_card = #{cardId}
    </if>
    <if test="departmentId != null">
      and dp.id = #{departmentId}
    </if>
    <if test="userId != null">
      and rg.user_id = #{userId}
    </if>
    <if test="status != null">
      and rg.status = #{status}
    </if>
  </select>
    <select id="selectRegDetailById" resultType="com.g1.hospital.dto.RegDetailDto">
      select
        -- 查询病人信息
        pa.`name` pName,
        case sex when 1 then "男" when 2 then "女" end pSex,
        pa.`id_card` pidCard,
        pa.`birthday` pBirthday,
        pa.`address` pAddress,
        -- 挂号信息
        rg.`id` rgId,
        dp.`name` dName,
        rm.`name` rmName,
        su.`user_name` regDocName,
        rg.`registry_time` regTime,
        rg.`consultation_time` regConSulTime,
        rg.`created_time` createTime,
        -- 医嘱
        ma.`chief_complaint` chiefComplaint,
        ma.`diagnosis` diagnosis,
        temp.user_name maUserName
      from registry rg
       left join patient pa on rg.`patient_id` = pa.`id`
       left join department dp on rg.`department_id` = dp.`id`
       left join room rm on rg.`room_id` = rm.`id`
       left join sys_users su on rg.`user_id` = su.`id`
       left join medical_advice ma on rg.`id` = ma.`registry_id`
       left join (select ma.`id`,su.`user_name` from medical_advice ma, sys_users su where ma.`user_id` = su.`id`)temp
           on temp.id = ma.`id`
       where rg.id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from registry
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.g1.hospital.pojo.Registry">
    insert into registry (id, patient_id, schedule_id, 
      user_id, department_id, room_id, 
      status, fee, pay_fee, 
      medicare_fee, is_medicare, registry_time, 
      consultation_time, created_time, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{patientId,jdbcType=BIGINT}, #{scheduleId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{fee,jdbcType=DECIMAL}, #{payFee,jdbcType=DECIMAL}, 
      #{medicareFee,jdbcType=DECIMAL}, #{isMedicare,jdbcType=TINYINT}, #{registryTime,jdbcType=TIMESTAMP}, 
      #{consultationTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.g1.hospital.pojo.Registry">
    insert into registry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="scheduleId != null">
        schedule_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="payFee != null">
        pay_fee,
      </if>
      <if test="medicareFee != null">
        medicare_fee,
      </if>
      <if test="isMedicare != null">
        is_medicare,
      </if>
      <if test="registryTime != null">
        registry_time,
      </if>
      <if test="consultationTime != null">
        consultation_time,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null">
        #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="medicareFee != null">
        #{medicareFee,jdbcType=DECIMAL},
      </if>
      <if test="isMedicare != null">
        #{isMedicare,jdbcType=TINYINT},
      </if>
      <if test="registryTime != null">
        #{registryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultationTime != null">
        #{consultationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.g1.hospital.pojo.Registry">
    update registry
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="scheduleId != null">
        schedule_id = #{scheduleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null">
        pay_fee = #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="medicareFee != null">
        medicare_fee = #{medicareFee,jdbcType=DECIMAL},
      </if>
      <if test="isMedicare != null">
        is_medicare = #{isMedicare,jdbcType=TINYINT},
      </if>
      <if test="registryTime != null">
        registry_time = #{registryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultationTime != null">
        consultation_time = #{consultationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.g1.hospital.pojo.Registry">
    update registry
    set patient_id = #{patientId,jdbcType=BIGINT},
      schedule_id = #{scheduleId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      fee = #{fee,jdbcType=DECIMAL},
      pay_fee = #{payFee,jdbcType=DECIMAL},
      medicare_fee = #{medicareFee,jdbcType=DECIMAL},
      is_medicare = #{isMedicare,jdbcType=TINYINT},
      registry_time = #{registryTime,jdbcType=TIMESTAMP},
      consultation_time = #{consultationTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>